@charset "utf-8";

/* 기본 설정 */
html, body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

/* .container {
    width: 1200px;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
} */

.content {
    height: 100%;
    padding-left: 300px;
}

.title_bold {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    color: #03658C;
}

/* aside */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 0 70px;
    box-sizing: border-box;
    background: #03658C;
}

.aside_box {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.aside_box h1 {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 60px auto;
}

.aside_box h1 a {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    transition: text-shadow .2s ease-in-out;
}

.aside_box h1 a.m_logo {
    display: none;
}

.aside_box h1 a:hover {
    text-shadow: 4px 4px #D9471A;
}

.aside_box h1:hover a.shadow {
    top: 3px;
    left: 4px;
}

nav ul li {
    position: relative;
    margin-bottom: 25px;
}

nav ul li a {
    display: block;
    font-weight: 500;
    color: #fff;
    transition: text-shadow .2s ease-in-out;
}

nav ul li a.icon {
    display: none;
}

nav ul li.active a {
    text-shadow: 3px 3px #D9471A;
}

nav ul li:hover a {
    text-shadow: 3px 3px #D9471A;
}

.mode_switch {
    margin-top: 40px;
}

.mode_switch .mode_tit {
    margin-right: 10px;
    color: #fff;
}

.mode_switch .dark_mode {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    top: -4px;
}

.mode_switch .dark_mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.onoff_switch {
    position: absolute;
    width: 55px;
    height: 30px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    transition: .4s;
}

.onoff_switch:before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 4px;
    bottom: 4px;
    background: url(../img/sun.png) no-repeat center;
    background-size: 18px;
    background-color: #fff;
    transition: .4s;
    border-radius: 20px;
}

.dark_mode input:checked + .onoff_switch {
    background-color: #D9471A;
}

.dark_mode input:checked + .onoff_switch:before {
    transform: translateX(24px);
    background: url(../img/moon.png) no-repeat center;
    background-size: 18px;
    background-color: #fff;
}

.mBtn {
    position: relative;
    width: 30px;
    height: 21px;
    display: none;
}

.mBtn a {
    width: 100%;
    height: 100%;
}

.mBtn a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    z-index: 21;
    transition: all .3s ease-in-out;
}

.mBtn span:nth-child(2) {
    top: 9px;
}

.mBtn span:nth-child(3) {
    top: unset;
    bottom: 0;
}

.mBtn.on a span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.mBtn.on a span:nth-child(2) {
    opacity: 0;
}

.mBtn.on a span:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}

.m_menu {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: #03658C;
    padding-top: 100px;
    text-align: center;
    z-index: 20;
    transition: all .3s ease-in-out;
}

.m_menu.on {
    right: 0;
}

.m_menu nav {
    margin-bottom: 80px;
}

.m_menu nav ul {
    width: 150px;
    margin: 0 auto;
}

.m_menu nav ul li {
    margin-bottom: 30px;
}

.m_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 19;
    display: none;
}

.m_back.on {
    display: block;
}

/* 메인 페이지 */
#main {
    position: relative;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
}

#main .emoji {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(../img/woman_technologist.png) no-repeat center;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: motion1 0.6s linear 0s infinite alternate;
}

@keyframes motion1 {
    0% {top: 25%;}
    100% {top: 27%;}
}

@keyframes motion2 {
    0% {top: 28%;}
    100% {top: 30%;}
}

@keyframes motion3 {
    0% {top: 34%;}
    100% {top: 36%;}
}

@keyframes motion4 {
    0% {top: 36%;}
    100% {top: 38%;}
}

#main .text_box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main .text_box .t_text {
    font-size: 50px;
    color: #03658C;
}

#main .text_box .line {
    font-size: 50px;
    font-weight: 100;
    animation: line .8s infinite;
    color: #303030;
}

@keyframes line {
    to {opacity: 0;}
}

#main .scroll_box {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}

#main .scroll_box a {
    font-size: 18px;
    font-weight: 500;
    color:#03658C;
}

#main .scroll_box a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1.7px solid #03658C;
    border-bottom: 1.7px solid #03658C;
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation: arrow 2s infinite;
    opacity: 0;
}

#main .scroll_box a span:nth-of-type(1) {
    animation-delay: 0;
}

#main .scroll_box a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
}

#main .scroll_box a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 자기 소개 */
#intro .intro_box {
    display: flex;
    height: 500px;
}

#intro .intro_box .me {
    position: relative;
    width: 50%;
}

#intro .intro_box .me .me_img {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -60%);
    width: 280px;
    height: 280px;
    border: 10px solid #D9471A;
    background: url(../img/me.jpg) no-repeat top center;
    background-size: cover;
    animation: itsme 5s ease-in-out 1s infinite;
    z-index: 5;
}

@keyframes itsme {
    0% {
        border-radius: 140% 180% 170% 140% / 140% 150% 180% 170%;
    }
    50% {
        border-radius: 130% 140% 180% 160% / 180% 170% 160% 140%;
    }
    100% {
        border-radius: 140% 180% 170% 140% / 140% 150% 180% 170%;
    }
}

#intro .intro_box .me .back1 {
    position: absolute;
    top: 30px;
    left: 95px;
    width: 180px;
    height: 200px;
    background: linear-gradient(to bottom right, #05A0A3, #03658C);
    animation: back1 5s ease-in-out 1s infinite;
}

@keyframes back1 {
    0% {
        border-radius: 140% 180% 170% 140% / 140% 150% 180% 170%;
    }
    50% {
        border-radius: 220% 170% 190% 250% / 170% 160% 170% 200%;
    }
    100% {
        border-radius: 140% 180% 170% 140% / 140% 150% 180% 170%;
    }
}

#intro .intro_box .me .back2 {
    position: absolute;
    right: 100px;
    bottom: 110px;
    width: 120px;
    height: 150px;
    transform: rotate(-30deg);
    background: linear-gradient(to bottom right, #BE3C13,#D9471A);
    animation: back2 5s ease-in-out 1s infinite;
}

@keyframes back2 {
    0% {
        border-radius: 140% 150% 200% 140% / 140% 150% 180% 170%;
    }
    50% {
        border-radius: 220% 200% 190% 200% / 170% 160% 170% 200%;
    }
    100% {
        border-radius: 140% 150% 200% 140% / 140% 150% 180% 170%;
    }
}

#intro .intro_box .me .hashtag {
    position: absolute;
    width: 280px;
    top: 85%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #05A0A3;
}

#intro .intro_box .intro_text {
    width: 50%;
    padding-top: 60px;
}

#intro .intro_box .intro_text p {
    color: #03658C;
    margin: 20px 0;
}

#intro .intro_box .intro_text p b {
    display: inline-block;
    width: 85px;
    font-size: 18px;
    font-weight: bold;
}

#intro .intro_box .intro_text p span {
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}

#intro .intro_box .intro_text p span.space {
    margin-left: 85px;
}

#intro .intro_box .intro_text p.resolution {
    margin-top: 65px;
    font-size: 20px;
    font-weight: bold;
    color: #D9471A;
}

/* 스킬 */
.skill_box {
    width: 680px;
    margin: 0 auto;
}

.skill_box .box {
    display: flex;
    align-items: center;
}

.skill_box .box2 {
    flex-direction: row-reverse;
}

.skill_box .box .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9471A;
}

.skill_box .box .circle .circle_img img {
    width: 70px;
}

.skill_box .box2 .circle .circle_img img {
    width: 55px;
    margin-right: 10px;
}

.skill_box .box2 .circle .circle_img img:last-child {
    margin-right: 0;
}

.skill_box .box3 .circle .circle_img img {
    width: 50px;
}

.skill_box .box3 .circle .circle_img .img1 {
    margin-left: 25px;
}

.skill_box .box3 .circle .circle_img .img2,
.skill_box .box3 .circle .circle_img .img3 {
    margin-top: -5px;
}

.skill_box .box .skill_text {
    margin-left: 25px;
    color: #03658C;
    font-size: 18px;
}

.skill_box .box2 .skill_text {
    text-align: right;
    margin-left: 0;
    margin-right: 25px;
}

/* 포트폴리오 */
#portfolio {
    height: 100vh;
    background: rgb(228, 253, 208);
    font-size: 2rem;
    font-weight: bold;
}

#design {
    height: 100vh;
    line-height: 100vh;
    background: rgb(187, 233, 255);
    font-size: 2rem;
    font-weight: bold;
}

#contact {
    height: 100vh;
    line-height: 100vh;
    background: rgb(188, 187, 255);
    font-size: 2rem;
    font-weight: bold;
}

/* 반응형 */
@media (max-width: 1200px) {
    #intro .intro_box .me {width: 48%;}
    #intro .intro_box .me .me_img {left: 50%; width: 230px; height: 230px;}
    #intro .intro_box .me .back1 {width: 160px; height: 180px; top: 50px; left: 60px;}
    #intro .intro_box .me .back2 { right: 80px;}
    #intro .intro_box .me .hashtag {left: 50%;}
    #intro .intro_box .intro_text {width: 52%; padding-top: 80px;}
    #intro .intro_box .intro_text p b {width: 70px; font-size: 17px;}
    #intro .intro_box .intro_text p span {font-size: 14px;}
    #intro .intro_box .intro_text p span.space {margin-left: 70px;}
    #intro .intro_box .intro_text p.resolution {font-size: 18px;}
}

@media (max-width: 1024px) {
    .container {width: 100%; margin: 0 auto;}
    .row {padding: 0 24px;}
    aside {width: 100%; height: 70px; padding: 0 24px; z-index: 20;}
    .aside_box {width: 100%; height: 70px; flex-direction: row; justify-content: space-between; align-items: center;}
    .aside_box h1 {margin: 0;}
    .aside_box h1 a.pc_logo {display: none;}
    .aside_box h1 a.m_logo {display: block; font-size: 35px;}
    .aside_box .pc_menu {display: none;}
    .aside_box nav ul li {display: inline-block; margin-bottom: 0;}
    .aside_box nav ul li a.text {display: none;}
    .aside_box nav ul li a.icon {display: block; margin-right: 30px;}
    .aside_box .pc_switch {display: none;}
    .aside_box .mode_switch {margin-top: 0;}
    .aside_box .mode_switch .mode_tit {display: none;}
    .aside_box .mode_switch .dark_mode {top: 0;}
    .mBtn {display: block;}

    .content {padding-left: 0;}
    #main .emoji {animation: motion2 0.6s linear 0s infinite alternate;}

    #intro .intro_box {flex-direction: column; height: auto;}
    #intro .intro_box .me {width: 100%; height: 300px;}
    #intro .intro_box .me .me_img {transform: translate(-50%, -50%);}
    #intro .intro_box .me .back1 {top: -15px; left: 300px;}
    #intro .intro_box .me .back2 {bottom: -2px; right: 300px;}
    #intro .intro_box .me .hashtag {top: auto; bottom: -50px;}
    #intro .intro_box .intro_text {width: auto; margin: 0 auto; box-sizing: border-box;}
    #intro .intro_box .intro_text p b {font-size: 18px;}
    #intro .intro_box .intro_text p span {font-size: 16px;}
    #intro .intro_box .intro_text p.resolution {text-align: center;}
}

@media (max-width: 840px) {
    #intro .intro_box .me .back1 {left: 190px;}
    #intro .intro_box .me .back2 {right: 230px; transform: rotate(-50deg);}

    
}

@media (max-width: 600px) {
    .row {padding: 0 16px;}
    .title_bold{font-size: 30px;}

    aside {height: 60px; padding: 0 16px;}
    .aside_box {height: 60px;}
    .aside_box h1 a.m_logo {font-size: 30px;}

    #main .emoji {width: 50px; height: 50px; animation: motion3 0.6s linear 0s infinite alternate;}
    #main .text_box .t_text, #main .text_box .line {font-size: 33px;}
    #main .scroll_box a span {width: 16px; height: 16px; border-left: 1px solid #03658C; border-bottom: 1px solid #03658C;}

    #intro .intro_box .me .back1 {left: 80px;}
    #intro .intro_box .me .back2 {right: 110px;}
    #intro .intro_box .intro_text p b {width: 60px; font-size: 15px;}
    #intro .intro_box .intro_text p span {font-size: 14px;}
    #intro .intro_box .intro_text p span.space {margin-left: 60px;}
    #intro .intro_box .intro_text p.resolution {font-size: 14px; margin-top: 40px; line-height: 20px;}
}

@media (max-width: 400px) {
    .row {padding: 0 8px;}

    aside {height: 50px; padding: 0 8px;}
    .aside_box {height: 50px;}
    .aside_box h1 a.m_logo {font-size: 24px;}
    .mBtn {width: 25px;}
    .m_menu {width: 70%; right: -70%;}

    #main .emoji {width: 40px; height: 40px; animation: motion4 0.6s linear 0s infinite alternate;}
    #main .text_box .t_text, #main .text_box .line {font-size: 25px;}
}