@charset "utf-8";

/* 기본 설정 */
html, body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

/* .container {
    width: 1200px;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
} */

/* aside */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background: #03658C;
}

aside .row {
    padding: 0 70px;
}

.aside_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.aside_box h1 {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 60px auto;
}

.aside_box h1 a {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    transition: text-shadow .2s ease-in-out;
}

.aside_box h1 a.m_logo {
    display: none;
}

.aside_box h1 a:hover {
    text-shadow: 4px 4px #D9471A;
}

.aside_box h1:hover a.shadow {
    top: 3px;
    left: 4px;
}

nav ul li {
    position: relative;
    margin-bottom: 25px;
}

nav ul li a {
    display: block;
    font-weight: 500;
    color: #fff;
    transition: text-shadow .2s ease-in-out;
}

nav ul li a.icon {
    display: none;
}

nav ul li.active a {
    text-shadow: 3px 3px #D9471A;
}

nav ul li:hover a {
    text-shadow: 3px 3px #D9471A;
}

.mode_switch {
    margin-top: 40px;
}

.mode_switch .mode_tit {
    margin-right: 10px;
    color: #fff;
}

.mode_switch .dark_mode {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    top: -4px;
}

.mode_switch .dark_mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.onoff_switch {
    position: absolute;
    width: 55px;
    height: 30px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    transition: .4s;
}

.onoff_switch:before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    left: 4px;
    bottom: 4px;
    background: url(../img/sun.png) no-repeat center;
    background-size: 18px;
    background-color: #fff;
    transition: .4s;
    border-radius: 20px;
}

.dark_mode input:checked + .onoff_switch {
    background-color: #D9471A;
}

.dark_mode input:checked + .onoff_switch:before {
    transform: translateX(24px);
    background: url(../img/moon.png) no-repeat center;
    background-size: 18px;
    background-color: #fff;
}

.mBtn {
    position: relative;
    width: 30px;
    height: 21px;
    display: none;
}

.mBtn a {
    width: 100%;
    height: 100%;
}

.mBtn a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    z-index: 21;
    transition: all .3s ease-in-out;
}

.mBtn span:nth-child(2) {
    top: 9px;
}

.mBtn span:nth-child(3) {
    top: unset;
    bottom: 0;
}

.mBtn.on a span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

.mBtn.on a span:nth-child(2) {
    opacity: 0;
}

.mBtn.on a span:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}

.m_menu {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: #03658C;
    padding-top: 100px;
    text-align: center;
    z-index: 20;
    transition: all .3s ease-in-out;
}

.m_menu.on {
    right: 0;
}

.m_menu nav {
    margin-bottom: 80px;
}

.m_menu nav ul {
    width: 150px;
    margin: 0 auto;
}

.m_menu nav ul li {
    margin-bottom: 30px;
}

.m_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 19;
    display: none;
}

.m_back.on {
    display: block;
}

/* 컨텐츠 */
.content {
    height: 100%;
    padding-left: 300px;
}

/* 메인 페이지 */
#main {
    position: relative;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
}

#main .emoji {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(../img/woman_technologist.png) no-repeat center;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: motion1 0.6s linear 0s infinite alternate;
}

@keyframes motion1 {
    0% {top: 25%;}
    100% {top: 27%;}
}

@keyframes motion2 {
    0% {top: 30%;}
    100% {top: 32%;}
}

@keyframes motion3 {
    0% {top: 35%;}
    100% {top: 37%;}
}

@keyframes motion4 {
    0% {top: 39%;}
    100% {top: 41%;}
}

#main .text_box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main .text_box .t_text {
    font-size: 50px;
    color: #707070;
}

#main .text_box .line {
    font-size: 50px;
    font-weight: 100;
    animation: line .3s infinite;
}

@keyframes line {
    to {opacity: 0;}
}

/* #main .text_box p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
    color: #707070;
}

#main .text_box p .blue {
    color: #03658C;
}

#main .typing p {
    display: block;
}

#main .typing p.on {
    display: inline-block;
    animation: cursor .3s infinite;
}

@keyframes cursor {
    0% {border-right: 1px solid #fafafa;}
    50% {border-right: 1px solid #707070;}
    100% {border-right: 1px solid #fafafa;}
} */

#main .scroll_box {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}

#main .scroll_box a {
    font-size: 18px;
    font-weight: 500;
    color:#03658C;
}

#main .scroll_box a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1.7px solid #03658C;
    border-bottom: 1.7px solid #03658C;
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation: arrow 2s infinite;
    opacity: 0;
}

#main .scroll_box a span:nth-of-type(1) {
    animation-delay: 0;
}

#main .scroll_box a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
}

#main .scroll_box a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#intro {
    height: 100vh;
    line-height: 100vh;
    background: rgb(255, 224, 195);
    font-size: 2rem;
    font-weight: bold;
}

#skills {
    height: 100vh;
    line-height: 100vh;
    background: rgb(255, 249, 199);
    font-size: 2rem;
    font-weight: bold;
}

#portfolio {
    height: 100vh;
    background: rgb(228, 253, 208);
    font-size: 2rem;
    font-weight: bold;
}

#design {
    height: 100vh;
    line-height: 100vh;
    background: rgb(187, 233, 255);
    font-size: 2rem;
    font-weight: bold;
}

#contact {
    height: 100vh;
    line-height: 100vh;
    background: rgb(188, 187, 255);
    font-size: 2rem;
    font-weight: bold;
}

/* 반응형 */
@media (max-width: 1024px) {
    aside {width: 100%; height: 70px; z-index: 20;}
    aside .row {padding: 0 24px;}
    .aside_box {height: 70px; flex-direction: row; justify-content: space-between; align-items: center;}
    .aside_box h1 {margin: 0;}
    .aside_box h1 a.pc_logo {display: none;}
    .aside_box h1 a.m_logo {display: block; font-size: 35px;}
    .aside_box .pc_menu {display: none;}
    .aside_box nav ul li {display: inline-block; margin-bottom: 0;}
    .aside_box nav ul li a.text {display: none;}
    .aside_box nav ul li a.icon {display: block; margin-right: 30px;}
    .aside_box .pc_switch {display: none;}
    .aside_box .mode_switch {margin-top: 0;}
    .aside_box .mode_switch .mode_tit {display: none;}
    .aside_box .mode_switch .dark_mode {top: 0;}
    .mBtn {display: block;}

    .content {padding-left: 0;}
    #main .emoji {animation: motion2 0.6s linear 0s infinite alternate;}
    #main .text_box {top: 54%;}
}

@media (max-width: 840px) {
    
}

@media (max-width: 600px) {
    aside, .aside_box {height: 60px;}
    aside .row {padding: 0 16px;}
    .aside_box h1 a.m_logo {font-size: 30px;}

    #main .emoji {width: 50px; height: 50px; animation: motion3 0.6s linear 0s infinite alternate;}
    #main .text_box p {font-size: 34.5px;}
    #main .scroll_box a span {width: 16px; height: 16px; border-left: 1px solid #03658C; border-bottom: 1px solid #03658C;}
}

@media (max-width: 400px) {
    aside, .aside_box {height: 50px;}
    .aside_box h1 a.m_logo {font-size: 24px;}
    .mBtn {width: 25px;}
    .m_menu {width: 70%; right: -70%;}

    #main .emoji {width: 40px; height: 40px; animation: motion4 0.6s linear 0s infinite alternate;}
    #main .text_box p {font-size: 26px;}
}