@charset "UTF-8";

/* 레이아웃 */
body {
	overflow-x: hidden;
}

#header {
	width: 100%;
	background-color: #fff;
}

#banner {
	width: 100%;
	height: 470px;
	margin-bottom: 80px;
}

#main {
	margin: 50px 0;
}

#md {

}

/* 컨테이너 */
.container {
	width: 1000px;
	margin: 0 auto;
	/*	background-color: rgba(0,0,0,0.1);*/
}

/* 헤더 */
.header {
	position: relative;
}

.header::after {
	content: "";
	display: block;
	clear: both;
}

.header .header_nav {
	text-align: right;
}

.header .header_nav li {
	display: inline-block;
	margin: 10px 5px 0 3px;
}

.header .header_nav li:last-child {
	margin-right: 15px;
}

.header .header_nav li a {
	display: block;
	font-size: 1.3rem;
	color: #5a87c5;
	font-weight: 600;
}

.header .header_logo {
	margin: 0 auto;
	width: 120px;
}

.header .header_logo .m_logo {
	display: none;
}

.header .header_logo a {
	display: block;
}

.header .header_logo a img {
	width: 100%;
	display: block;
}

.header .nav_btn {
	position: absolute;
	top: 16px;
	right: 20px;
	float: right;
	display: none;
}

.header .nav_btn a {
	position: relative;
	width: 35px;
	height: 35px;
	display: block;
	color: #ccc;
}

.header .nav_btn a i {
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 전체 메뉴 */
.nav {
	position: relative;
	text-align: center;
	border-bottom: 2px solid #5a87c5;
	margin-top: 20px;
}

.nav>ul {
	max-width: 1000px;
	margin: 0 auto;
}

.nav>ul::after {
	content: "";
	display: block;
	clear: both;
}

.nav>ul>li {
	position: relative;
	float: left;
	width: 20%;
}

.nav>ul>li>a {
	display: block;
	padding: 20px;
	font-size: 1.8rem;
	font-weight: 500;
	color: #5a87c5;
}

.nav>ul>li:hover>a {
	background-color: #5a87c5;
	color: #fff;
}

.nav>ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 180px;
	z-index: 11;
	padding: 20px 0;
}

.nav ul ul>li {
	padding: 8px 0px;
}

.nav ul ul>li>a {
	color: #fff;
	position: relative;
	font-size: 1.6rem;
	font-weight: 200;
}

.nav ul ul>li>a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: all .3s ease;
}

.nav ul ul>li:hover>a::after {
	width: 100%;
}

.nav>.menuback {
	display: none;
	position: absolute;
	top: 59px;
	left: 0;
	width: 100%;
	height: 220px;
	background-color: #5a87c5;
	z-index: 10;
}

/* 모바일 메뉴 */
.m_nav {
	position: fixed;
	top: 0;
	right: -60%;
	display: block;
	width: 60%;
	height: 100%;
	z-index: 20;
	background-color: #fff;
	border-left: 2px solid #5a87c5;
	box-sizing: border-box;
	transition: all .3s;
	z-index: 20;
}

.m_nav.on {
	right: 0;
}

.m_nav .nav_close {
	position: absolute;
	top: 22px;
	right: 22px;
	width: 30px;
	height: 30px;
	z-index: 55;
}

.m_nav .nav_close a::after,
.m_nav .nav_close a::before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	width: 10%;
	height: 80%;
	background-color: #ccc;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.m_nav .nav_close a::before {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.m_nav .m_login {
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.m_nav .m_login a {
	margin: 0 10px;
	font-size: 1.5rem;
	color: #5A87C5;
	font-weight: bold;
}

.m_nav .m_login a:first-child {
	margin-left: 24px;
}

.m_nav .m_menu > ul > li > a {
	position: relative;
}

.m_nav .m_menu > ul > li.active > a {
	color: #5A87C5;
}

.m_nav .m_menu > ul > li > a:after {
	position: absolute;
	top: 20px;
	right: 24px;
	content: "\f078";
    font: 15px/1 'FontAwesome';
}

.m_nav .m_menu > ul > li.active > a:after {
	content: "\f077";
}

.m_nav .m_menu li a {
	display: block;
	font-size: 1.8rem;
	font-weight: bold;
	color: #616161;
	padding: 15px 24px;
}

.m_nav .m_menu > ul ul {
	display: none;
}

.m_nav .m_menu > ul ul li a {
	font-size: 1.5rem;
	font-weight: normal;
	background-color: #f9f9f9;
	border-top: 1px solid #d6d6d6;
}

.m_nav .m_menu > ul ul li a.last {
	border-bottom: 1px solid #d6d6d6;
}

.m_back.on {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.4);
	z-index: 18;
}

/* 배너 */
/*
.banner {
	position: relative;
	overflow: hidden;
	height: 450px;
	margin: 0 auto;
}

.banner .slides > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 1519px;
	height: 450px;
	opacity: 0;
	transition: opacity .5s;
}

.banner .slides div.active {
	opacity: 1;
}

.banner img {
	display: block;
	width: 100%;
	height: 100%;
}

.banner .side-bars div:first-child {
	position: absolute;
	top: 185px;
	left: 0;
	width: 50px;
	height: 80px;
	cursor: pointer;
}

.banner .side-bars div:last-child {
	position: absolute;
	top: 185px;
	right: 0;
	width: 50px;
	height: 80px;
	cursor: pointer;
}

.banner .side-bars div span {
	position: absolute;
	font-size: 60px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
}
*/

/* 슬릭 배너 */
.slides {
	position: relative;
	width: 100%;
	height: 100%;
}

.slides div {
	width: 100%;
	height: 100%;
}

.slides .s1 {
	background: url(../img/strawberry_banner.jpg) no-repeat center;
}

.slides .s2 {
	background: url(../img/coffeenie_sweet_pumpkin_banner.jpg) no-repeat center;
}

.slides .s3 {
	background: url(../img/b_big.jpg) no-repeat center;
}

.slides button {
	font-size: 0;
}

.slides .slick-prev {
	position: absolute;
	top: 45%;
	left: 40px;
	z-index: 1;
	border: 0;
	color: #fff;
	background: none;
	cursor: pointer;
	outline: none;
}

.slides .slick-prev::after {
	content: "\f104";
	font: 60px/1 'FontAwesome';
}

.slides .slick-next {
	position: absolute;
	top: 45%;
	right: 40px;
	z-index: 1;
	border: 0;
	color: #fff;
	background: none;
	cursor: pointer;
	outline: none;
}

.slides .slick-next::after {
	content: "\f105";
	font: 60px/1 'FontAwesome';
}

.slides .slick-dots {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.slides .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.slides .slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #ddd;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}

.slides .slick-dots li.slick-active button {
	background-color: #5a87c5;
}

/* 메인 */
.main_tit {
	color: #5a87c5;
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
}

/* 메인 슬라이드 */
.main .main_slide {
	width: 100%;
}

.main .main_slide .icon2 {
	background-position: 0 -20px;
}

.main_slide .new_slide {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.main_slide .new_slide .slick-prev {
	position: absolute;
	top: 140px;
	left: -35px;
	font-size: 0;
	background: none;
	color: #5a87c5;
	outline: none;
	cursor: pointer;
}

.main_slide .new_slide .slick-prev::after {
	content: "\f104";
	font: 40px/1 'FontAwesome';
}

.main_slide .new_slide .slick-next {
	position: absolute;
	top: 140px;
	right: -35px;
	font-size: 0;
	background: none;
	color: #5a87c5;
	outline: none;
	cursor: pointer;
}

.main_slide .new_slide .slick-next::after {
	content: "\f105";
	font: 40px/1 'FontAwesome';
}

.main_slide .new_slide div a {
	outline: none;
}

.main_slide .new_slide img {
	width: 100%;
}

.main_slide .new_slide span {
	font-size: 1.6rem;
	font-weight: 500;
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #5a87c5;
}

.new_slide .slick-dots {
	text-align: center;
	margin-top: 25px;
}

.new_slide .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.new_slide .slick-dots li button {
	text-indent: -9999px;
	width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.new_slide .slick-dots li.slick-active button {
	background-color: #5a87c5;
}

/* 메인 알림 */
.coffeenie_info {
	position: relative;
	margin: 80px 0;
	height: 380px;
	background: url(../img/FRANCHISE.jpg) no-repeat center left;
	background-size: cover;
}

.coffeenie_info .info_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(7%,-60%);
	text-align: left;
	max-width: 1000px;
	width: 40%;
	color: #fff;
	opacity: 0;
	transition: all .6s ease-in-out;
}

.coffeenie_info .info_text.show {
	transform: translate(7%,-50%);
	display: block;
	opacity: 1;
}

.coffeenie_info .info_text h2 {
	font-size: 2rem;
}

.coffeenie_info .info_text .info_logo img {
	display: block;
	width: 180px;
	margin-top: 20px;
}

.coffeenie_info .info_text p {
	font-size: 1.6rem;
	font-weight: 200;
	margin-top: 20px;
}

.coffeenie_info .info_text .info_button {
	margin-top: 20px;
}

.coffeenie_info .info_text .info_button button {
	display: inline-block;
	width: 30%;
	cursor: pointer;
	margin-right: 6px;
	padding: 8px 0;
	font-weight: bold;
	font-size: 1.6rem;
}

.coffeenie_info .info_text .info_button .franchise_btn {
	background-color: #fff;
	color: #5a87c5;
}

.coffeenie_info .info_text .info_button .brand_btn,
.coffeenie_info .info_text .info_button .newshop_btn {
	background-color: #5a87c5;
	border: 1px solid #fff;
	color: #fff;
}

/* MD 상품 */
.md {
	position: relative;
	height: 450px;
	margin-bottom: 80px;
}

.md_tit {
	position: relative;
}

.md .md_slide {
	width: 100%;
	text-align: center;
}

.md .md_slide .slick-dots {
	position: absolute;
	bottom: -55px;
	left: 50%;
}

.md .md_slide .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.md .md_slide .slick-dots li button {
	border-radius: 50%;
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #ddd;
	outline: none;
	cursor: pointer;
}

.md .md_slide .slick-dots li.slick-active button {
	background-color: #5a87c5;
	cursor: pointer;
}

.md .md_slide a {
	outline: none;
}

.md .md_slide img {
	display: block;
	width: 100%;
}

.md .md_slide span {
	color: #5a87c5;
	font-size: 1.6rem;
	font-weight: 500;
}

.md .md_slide_btn {
	position: relative;
	top: 15px;
}

.md .md_slide_btn .btn_line {
	position: absolute;
	color: #ccc;
	bottom: -42px;
	left: 47.5%;
}

.md .md_slide_btn button {
	position: absolute;
	left: 44.5%;
	bottom: -43px;
	background: none;
	color: #5a87c5;
	outline: none;
	cursor: pointer;
}

.md .md_slide_btn button.play {
	display: none;
}


/*
.md .md_slide_btn button::before {
	position: absolute;
	top: 2px;
	left: 32px;
	content: "";
	width: 1px;
	height: 15px;
	background-color: #ccc;
}
*/

/* 커피니 인스타그램 */
.insta {
	padding: 50px 0;
	background-color: #5a87c5;
	text-align: center;
}

.ins_img::after {
	content: "";
	display: block;
	clear: both;
}

.ins_img .ins_tit {
	color: #fff;
	font-weight: 600;
	font-size: 2.5rem;
	margin-bottom: 25px;
}

.ins_img li {
	position: relative;
	float: left;
	width: 20%;
	height: 20%;
	box-sizing: border-box;
	overflow: hidden;
}

.ins_img li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 15;
}

.ins_img li a:hover::before {
	background-color: rgba(90, 135, 197, 0.3);
}

.ins_img li:hover img {
	transform: scale(1.1);
}

.ins_img li img {
	display: block;
	width: 100%;
	transition: transform .5s;
}

.ins_img .ins_btn {
	width: 350px;
	height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	color: #5a87c5;
	background-color: #fff;
	line-height: 40px;
	margin-top: 40px;
}

/* 푸터 */
#footer {
	padding: 50px 0;
	color: #5a87c5;
}

#footer .container {
	position: relative;
}

.foot_link li {
	position: relative;
	display: inline-block;
	margin: 0 8px;
	font-size: 1.4rem;
}

.foot_link li:first-child {
	margin-left: 0;
}

.foot_link li::before {
	position: absolute;
	top: 5px;
	left: -9px;
	content: "";
	width: 1px;
	height: 10px;
	background-color: #ccc;
}

.foot_link li:first-child::before {
	display: none;
}

.foot_link li:hover a {
	text-decoration: underline;
}

.foot_copy_info {
	margin: 20px 0;
	font-size: 1.4rem;
}

.foot_copy {
	font-size: 1.4rem;
}

.sns_icon {
	position: absolute;
	top: 0;
	right: 0;
}

.sns_icon a {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #5a87c5;
	border-radius: 50%;
	margin: 0 5px;
}

.sns_icon a i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 25px;
}

/* top 버튼 */
#top_btn {
	position: fixed;
	bottom: 100px;
	right: 80px;
}

#top_btn a .top_btn {
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	display: none;
	background: url(../img/top_icon-01.png) no-repeat 0 0;
}

#top_btn a:hover .top_btn {
	background: url(../img/top_icon_blue-01.png) no-repeat 0 0;
}

/* media query */
@media (max-width: 1024px) {
	html {font-size: 50%;}
	#header {position: fixed; top: 0; left: 0; height: 70px; z-index: 15; box-shadow: 0px 1px 5px #777;}

	.container {
		width: 100%;
	}

	.header .header_nav {
		display: none;
	}

	.header .header_logo .pc_logo {
		display: none;
	}

	.header .header_logo .m_logo {
		display: block;
		width: 130px;
		padding-top: 17px;
	}

	.header .nav_btn {
		display: block;
		
	}

	.nav {
		display: none;
	}

	.m_nav .m_menu > ul > li > a:after {top: 18px;}

	#banner {margin-top: 70px;}
	.slides .s1 {background: url(../img/strawberry_banner_1000.jpg) no-repeat center; background-size: cover;}
	.slides .s2 {background: url(../img/coffeenie_sweet_pumpkin_banner_1000.jpg) no-repeat center; background-size: cover;}
	.slides .s3 {background: url(../img/b_big_1000.jpg) no-repeat center; background-size: cover;}
	.slides .slick-prev {display: none;}
	.slides .slick-next {display: none;}

	.main_center .new_slide .slick-prev {left: -15px;}
	.main_center .new_slide .slick-next {right: -15px;}

	.md .md_slide_btn {right: 22px;}
	.md .md_slide .slick-dots {left: 47.5%;}

	.insta .row {padding: 0 12px;}

	#footer .row {padding: 0 12px;}
	.sns_icon {right: 8px;}
	.sns_icon a {width: 40px; height: 40px; margin: 0 2px;}
	.foot_link li::before {top: 4px;}
}

@media (max-width: 720px) {
	.header .nav_btn {right: 16px;}
	.m_nav {right: -75%; width: 75%;}
	.m_nav .m_login a:first-child {margin-left: 16px;}
	.m_nav .nav_close {right: 16px;}
	.m_nav .m_menu li a {padding: 15px 16px;}
	.m_nav .m_menu > ul > li > a:after {right: 16px;}

	.main_slide .new_slide .slick-prev {left: -14px;}
	.main_slide .new_slide .slick-next {right: -14px;}

	.coffeenie_info {height: 830px; background: url(../img/FRANCHISE_vertical.jpg) no-repeat center bottom; background-size: cover;}
	.coffeenie_info .info_text {top: 28%; width: 80%; transform: translate(-50%,-60%); text-align: center;}
	.coffeenie_info .info_text.show {transform: translate(-50%,-50%);}
	.coffeenie_info .info_text h2 {font-size: 2.3rem;}
	.coffeenie_info .info_text .info_logo img {width: 220px; margin: 15px auto;}
	.coffeenie_info .info_text p {font-size: 1.8rem;}
	.coffeenie_info .info_text .info_button {box-sizing: border-box;}
	.coffeenie_info .info_text .info_button .franchise_btn {width: 60%; display: block; margin: 0 auto;}
	.coffeenie_info .info_text .info_button .brand_btn {margin-right: 1%;}
	.coffeenie_info .info_text .info_button .newshop_btn {margin-right: 0px;}
	.coffeenie_info .info_text .info_button .brand_btn, .coffeenie_info .info_text .info_button .newshop_btn {width: 29%; margin-top: 10px;}

	.md .md_slide_btn {right: 73px;}
	.md .md_slide .slick-dots {left: 42%;}
	.md .md_slide_btn .btn_line {left: 49.5%;}

	.insta .row {padding: 0 24px;}
	.ins_img li {width: 33.3333%; height: 333.3333%;}
	.ins_img li.none {display: none;}
	.ins_img .ins_btn {width: 235px;}

	#footer {padding-top: 100px;}
	.foot_link, .foot_copy_info, .foot_copy {text-align: center;}
	.sns_icon {width: 140px; top: -65px; left: 50%; transform: translateX(-50%);}
	/* .sns_icon {top: 50%; left: 50%; transform: translate(-50%,-50%);} */
}

@media (max-width: 480px) {
	#header {height: 60px;}
	.header .header_logo .m_logo {padding-top: 12px;}
	.header .nav_btn {top: 18px;}
	.header .nav_btn a {width: 27px; height: 23px;}
	.header .nav_btn a i {font-size: 22px;}
	.m_nav .m_login {height: 60px; line-height: 60px;}
	.m_nav .nav_close {top: 15px; right: 10px;}

	#banner {height: 350px; margin-top: 60px;}
	.slides .slick-dots {bottom: 15px;}
	.slides .slick-dots li button {width: 10px; height: 10px;}

	.new_slide {width: 100%;}
	.main_slide .new_slide .slick-prev, .main_slide .new_slide .slick-next {top: 90px;}
	.new_slide .slick-dots li button {width: 10px; height: 10px;}

	.coffeenie_info {height: 750px;}
	.coffeenie_info .info_text {top: 33%;}
	.coffeenie_info .info_text .info_button .franchise_btn {width: 80%;}
	.coffeenie_info .info_text .info_button .brand_btn, .coffeenie_info .info_text .info_button .newshop_btn {width: 39%; margin-top: 6px;}

	.md {height: 360px;}
	.md .md_slide .slick-dots {left: 36%;}

	.insta .row {padding: 0 8px;}
	
}