@charset "utf-8";

/* 레이아웃 */
.container {
    width: 1024px;
    margin: 0 auto;
    /* background: rgba(0,0,0,0.1); */
}

/* 헤더 */
header {
    width: 100%;
    height: 200px;
    background: #03658C;
}

header > .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .tit {
    padding-left: 90px;
    color: #fff;
}

header .tit p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

header .tit h1 {
    font-size: 40px;
    font-weight: 700;
}

header .btn {
    padding-right: 90px;
}

header .btn a {
    position: relative;
    display: block;
    padding: 10px 20px;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease-in-out;
    z-index: 1;
}

header .btn a:hover {
    color: #03658C;
}

header .btn a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all .3s ease-in-out;
    z-index: -1;
}

header .btn a:hover:after {
    width: 100%;
}

header .btn a svg {
    margin-left: 6px;
    margin-bottom: 4px;
}

header .btn a:hover svg path {
    stroke: #03658C;
    transition: .3s ease-in-out;
}

/* 목업 사진 */
.mockup {
    width: 100%;
}

.mockup img {
    width: 100%;
    display: block;
    margin-top: -80px;
}

/* 설명 */
.explain dl {
    padding: 0 90px;
    color: #03658C;
}

.explain dl dt {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
}

.explain dl dd {
    font-size: 18px;
    margin-bottom: 30px;
}

.explain dl .intro {
    line-height: 1.6;
    word-break: keep-all;
}

.explain dl dd .c_chart {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.explain dl dd .c1 {
    background: #03658C;
    margin-right: 5px;
}

.explain dl dd .c2 {
    background: #D9471A;
    margin-right: 5px;
}

.explain dl dd .c3 {
    background: #05A0A3;
}

.explain dl .font {
    color:#707070;
}

.explain dl .font_m {
    margin-bottom: 10px;
    font-weight: 500;
}

.explain dl .font_b {
    margin-bottom: 10px;
    font-weight: 700;
}

.explain dl .font_bb {
    font-weight: 900;
}

.explain dl .template a {
    display: block;
}

.explain dl .template img {
    width: 100%;
}

/* 푸터 */
footer {
    width: 100%;
    background: #03658C;
}

footer address {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

/* 탑 버튼 */
.top_btn {
    position: fixed;
    top: auto;
    right: 50px;
    bottom: 50px;
}

.top_btn a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #05A0A3;
    transition: all .3s ease-in-out;
}

.top_btn a:hover {
    background: #D9471A;
}

.top_btn a svg {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* 미디어 쿼리 */
@media (max-width: 1024px) {
    .container {width: 100%;}

    .top_btn {right: 24px;}
}

@media (max-width: 840px) {
    header .tit {padding-left: 60px;}
    header .tit p {font-size: 18px; margin-bottom: 10px;}
    header .tit h1 {font-size: 30px;}

    header .btn {padding-right: 60px;}
    header .btn a {font-size: 14px; padding: 9px 20px;}

    .explain dl {padding: 0 24px;}
}

@media (max-width: 600px) {
    header > .container {flex-direction: column; justify-content: center;}

    header .tit {text-align: center; padding-left: 0;}

    header .btn {padding-right: 0; margin-top: 20px;}

    .mockup img {margin-top: -45px;}

    .explain dl {padding: 0 16px;}
    .explain dl dt {font-size: 18px;}
    .explain dl dd {font-size: 16px;}

    footer address {font-size: 14px;}

    .top_btn {right: 16px;}
    .top_btn a {width: 50px; height: 50px;}
    .top_btn a svg {width: 18px;}
}

@media (max-width: 400px) {
    header .tit {font-size: 16px;}
    header .tit p {font-size: 16px;}
    header .tit h1 {font-size: 25px;}

    header .btn {font-size: 25px;}
    header .btn a {font-size: 12px;}

    .explain dl {padding: 0 8px;}
    .explain dl dt {font-size: 16px;}
    .explain dl dd {font-size: 14px;}

    footer address {font-size: 12px;}

    .top_btn {right: 8px;}
}